 /* 滚动条整体样式 */
 ::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
    height: 8px; /* 滚动条高度 */
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* 滚动条轨道背景色 */
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: #e0e0e0; /* 滚动条滑块背景色 */
    border-radius: 4px; /* 滑块边角弧度 */
}

/* 鼠标悬停在滑块上的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

/* 滚动条按钮样式 */
::-webkit-scrollbar-button {
    display: none; /* 隐藏滚动条按钮 */
}